# # Core FEniCSx stack
# fenics-dolfinx
# fenics-basix
# fenics-ffcx
# fenics-ufl
# petsc4py
# slepc4py
# mpi4py
# adios4dolfinx

# Math & SciPy stack
numpy
scipy
pandas
h5py
scikit-learn
matplotlib
meshio
gmsh
pyvista
vtk

# Utilities
loguru
psutil
requests
pillow
rich
typer

# Docs
sphinx
sphinx-rtd-theme
docutils
alabaster
babel
imagesize
jinja2
pygments
snowballstemmer
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml

# FLATiron_tk 
-e .


